# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.env
.venv
env/
venv/
logs/
*.log

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VSCode
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vscode.streamlit/
.history/

# Windows
Thumbs.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Streamlit OCR project specific
data/
helpers/__pycache__/
streamlit_app.old.py
*.txt
*.csv
*.pdf
